body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #eee;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}
button {
    display: inline-block;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    text-align: center;
}

/** COLORS **/
/* text color */
.c-black {
    color: #1c1c1c;
}
.c-ligh-black {
    color: #333;
}
.c-white {
    color: #eee;
}
/* background color */
.bg-black {
    background-color: #1c1c1c;
}
.bg-ligh-black {
    background-color: #333;
}
.bg-white {
    background-color: #eee;
}

/** LAYOUT **/
.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 40%;
    max-height: 50%;
    padding: 22px;
    border-radius: 5px;
    background-color: #1c1c1c;
}

/** MARGINS **/
/* vertical */
.mv-s {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mv-m {
    margin-top: 18px;
    margin-bottom: 18px;
}
.mv-l {
    margin-top: 24px;
    margin-bottom: 24px;
}
/* horizontal */
.mh-s {
    margin-left: 10px;
    margin-right: 10px;
}
.mh-m {
    margin-left: 18px;
    margin-right: 18px;
}
.mh-l {
    margin-left: 24px;
    margin-right: 24px;
}

/** PADDINGS **/
/* vertical */
.pv-s {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pv-m {
    padding-top: 18px;
    padding-bottom: 18px;
}
.pv-l {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* horizontal */
.ph-s {
    padding-left: 10px;
    padding-right: 10px;
}
.ph-m {
    padding-left: 18px;
    padding-right: 18px;
}
.ph-l {
    padding-left: 24px;
    padding-right: 24px;
}

/** BUTTONS **/
/* regular button */
.btn {
    background-color: #eee;
    color: #1c1c1c;
    border-bottom: 2px solid #eee;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn:hover,
.btn:focus,
.btn-active {
    background-color: #333;
    color: #eee;
}
/* checkbox button */
.btn-cbx {
    border: 2px solid #eee;
    color: #eee;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn-cbx:hover,
.btn-cbx:focus,
.btn-cbx-active {
    background-color: #eee;
    color: #1c1c1c;
}
