body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #eee;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 40%;
    max-height: 50%;
    padding: 22px;
    border-radius: 5px;
    background-color: #1c1c1c;
}
